/raid/bq_lduttenhofer/project/catatonia_VAE-main/data/metadata_20250110
testing
test_xml_data
test_xml_data_t
test_processed_data
/raid/bq_lduttenhofer/project/catatonia_VAE-main/data/metadata_20250110
/raid/bq_lduttenhofer/project/catatonia_VAE-main/data/metadata_20250110
testing
test_xml_data
test_xml_data_t
test_processed_data
/raid/bq_lduttenhofer/project/catatonia_VAE-main/data/metadata_20250110
/raid/bq_lduttenhofer/project/catatonia_VAE-main/data/metadata_20250110
/raid/bq_lduttenhofer/project/catatonia_VAE-main/data/metadata_20250110
testing
test_xml_data
test_xml_data_t
test_processed_data
/raid/bq_lduttenhofer/project/catatonia_VAE-main/data/metadata_20250110
/raid/bq_lduttenhofer/project/catatonia_VAE-main/data/metadata_20250110
testing
test_xml_data
test_xml_data_t
test_processed_data
